<div class="offcanvas offcanvas-md offcanvas-start navbarNuestra" tabindex="-10" id="navbarToggleExternalContent">
    <div class="accordion" id="accordionExample">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Menu Citenik</h3>
            </div>
            <ul class="list-unstyled components">
                
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle"><b>Prestamos</b></a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="consultar-plan">Consultar Plan</a>
                        </li>
                    </ul>
            </ul>
            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="cerrarSesion" (click)=" cerrarSesion()">
                        <h5>Cerrar Sesion</h5>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>